

.product {
  max-width: 450px;
  aspect-ratio: 18/26;
  padding-right: 5%;
  width: 18vi;
  height: auto;
  background-color: rgba(39, 58, 98, 0.11);
  margin: 0 1vi 0 1vi;
  border-radius: 0.5vi;
  position: relative;
  left: 0;
  transition: 0.5s;
  box-shadow: 0 0 15px #ccc;
  overflow: hidden;

}


.pic {
  place-content: center;
  border-radius: 0.5vi;
  width: 95%;
  height: 60%;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
.pic img {
  position: relative;
}

.pic :hover{
  opacity: 0.8;
  transition: 0.1s;
  cursor: pointer;
}

.detail,
.button {
  width: 95%;
  /*background: red;*/
  margin: 5%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vi;
  font-size: 1.1vw;
  color: #2b2f35;
}

small {
  color: #2b2f35;
}

a {
  text-decoration: none;
  padding: 0.4vi 1vi;
  font-size: 1vw;
  margin: 1% 0 0 1vb;
  display: inline-block;
  background: rgb(43, 47, 53);
  color: white;
  border-radius: 4px;
}

p.star {
  font-size: 1.5vi;
  color: #808080;
}

@media (max-width: 1024px) {
  .product {
    min-width: 200px;
    margin: 0 10px 0 0;
  }

  .detail, .button {
    font-size: 10px;
  }

  a {
    padding: 0.2vi 0.3vi;
  }
}


@media (max-width: 470px) {
  .product {
    min-width: 160px;
    margin: 0 10px 0 0;
  }
}


.icon-container{
  z-index: 2;
  position: absolute;
  top: 5%;
  right: 7%;
  height: 1.6vi;
  aspect-ratio: 1/1;
  border-radius: 60%;
  overflow: hidden;
  border: rgba(72, 90, 133, 0.41) solid 2px;
  min-height: 15px;
}
.normal-icon{
  position: relative;
  height: 1.65vi;
  aspect-ratio: 1.6/1.65;
  min-height: 15px;
  background: rgba(232, 232, 232, 0.41);
}

.red-icon{
  position: relative;
  height: 1.65vi;
  aspect-ratio: 1.6/1.65;
  min-height: 15px;
  background-color: rgba(255, 0, 0, 0.94);
}
.icon-container:hover{
  background-color: rgba(122, 130, 133, 0.26);
  transition: 0.3s;
}
.icon-container:active{
  background-color: rgb(176, 0, 0);
  opacity: 0.6;
  border-color: rgb(176, 0, 0) ;
}



