

<div class="product" [style.translate.%]="leftPosition" >
  <div (click)="toWishList()" class="icon-container" >
    <img src="../../../assets/icons/heart.png" *ngIf="!inWishList" class="normal-icon" >
    <img src="../../../assets/icons/heart.png" *ngIf="inWishList" class="red-icon" >
  </div>
  <div class="pic">
    <img src="../../../assets/img/washingMachine.jpg" (click)="this.productService.setIsQuickViewd(true)">
  </div>
  <div class="detail">
    <p>
      <b>Product One</b><br>
      <small>New arrival</small>
    </p>
    <samp>$45.00</samp>
  </div>
  <div class="button">
    <a class="star" href="/description" style="border: none; background-color: transparent; color: #111827; font-weight: bold "> Learn More</a>
    <a href="#">Add-cart</a>
  </div>

</div>


