<main>

  <div class="bgImageContainer">
    <div class="bgImage">
      <img src='https://ifdalivestorage.blob.core.windows.net/user-uploads/784446/347690/00000000-0000-0000-0000-000000000000/01_main_entry_img.jpg'   alt="">
    </div>
      <div class="title-slogan-div">
        <h1 class="title-name">Mobilotech</h1>
        <h3 class="slogan">Welcome to your new Electronics and Furniture Supplier</h3>
        <div  class="shop-now-button-div" >
          <a href="/categories" class="shop-now-button">
            <h4 style="box-shadow: none">SHOP NOW</h4>
          </a>
        </div>
      </div>
  </div>



  <!---about section------------------------------------------------------------------------------------------>

  <div class="bg-transparent">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Technical Specifications</h2>
        <p class="mt-4 text-gray-500">The walnut wood card tray is precision milled to perfectly fit a stack of Focus cards. The powder coated steel divider separates active cards from new ones, or can be used to archive important task lists.</p>

        <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Origin</dt>
            <dd class="mt-2 text-sm text-gray-500">Designed by Good Goods, Inc.</dd>
          </div>
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Material</dt>
            <dd class="mt-2 text-sm text-gray-500">Solid walnut base with rare earth magnets and powder coated steel card cover</dd>
          </div>
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Dimensions</dt>
            <dd class="mt-2 text-sm text-gray-500">6.25&quot; x 3.55&quot; x 1.15&quot;</dd>
          </div>
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Finish</dt>
            <dd class="mt-2 text-sm text-gray-500">Hand sanded and finished with natural oil</dd>
          </div>
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Includes</dt>
            <dd class="mt-2 text-sm text-gray-500">Wood card tray and 3 refill packs</dd>
          </div>
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Considerations</dt>
            <dd class="mt-2 text-sm text-gray-500">Made from natural materials. Grain and color vary with each item.</dd>
          </div>
        </dl>
      </div>
      <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
        <img src="../../../assets/img/fridge.png" alt="Walnut card tray with white powder coated steel divider and 3 punchout holes." class="about-img">
        <img src="../../../assets/img/fridge.png" alt="Top down view of walnut card tray with embedded magnets and card groove." class="about-img">
        <img src="../../../assets/img/fridge.png" alt="Side of walnut card tray with card groove and recessed card area." class="about-img">
        <img src="../../../assets/img/fridge.png" alt="Walnut card tray filled with cards and card angled in dedicated groove." class="about-img">
      </div>
    </div>
  </div>



  <!-- Category preview ---------------------------------------------------------------------------------------->
  <div style="display: grid; place-content: center; width: 100%; background-color: rgba(39, 58, 98, 0.11);" >


    <div class="category-bg ">
      <div [@slideInOut]="isVisible" class="category-l2">
        <div class="category-l3">
          <h2 class="collection">Collections</h2>

          <div class="categories-container">
            <app-category></app-category>
            <app-category></app-category>
            <app-category></app-category>

          </div>
        </div>
        <button  class="view-more"><a href="/categories"> VIEW ALL </a></button>
    </div>
    </div>
  </div>
  <app-slide></app-slide>



  <!---about section------------------------------------------------------------------------------------------>

  <div class="bg-transparent">
    <div class=" mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
      <div class="grid items-center">
        <img src="../../../assets/img/fridge.png" alt="Walnut card tray with white powder coated steel divider and 3 punchout holes." class="about-img-2">
      </div>
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Technical Specifications</h2>
        <p class="mt-4 text-gray-500">The walnut wood card tray is precision milled to perfectly fit a stack of Focus cards. The powder coated steel divider separates active cards from new ones, or can be used to archive important task lists.</p>

        <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Origin</dt>
            <dd class="mt-2 text-sm text-gray-500">Designed by Good Goods, Inc.</dd>
          </div>
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Material</dt>
            <dd class="mt-2 text-sm text-gray-500">Solid walnut base with rare earth magnets and powder coated steel card cover</dd>
          </div>
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Dimensions</dt>
            <dd class="mt-2 text-sm text-gray-500">6.25&quot; x 3.55&quot; x 1.15&quot;</dd>
          </div>
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Finish</dt>
            <dd class="mt-2 text-sm text-gray-500">Hand sanded and finished with natural oil</dd>
          </div>
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Includes</dt>
            <dd class="mt-2 text-sm text-gray-500">Wood card tray and 3 refill packs</dd>
          </div>
          <div class="border-t border-blue-950 pt-4">
            <dt class="font-medium text-gray-900">Considerations</dt>
            <dd class="mt-2 text-sm text-gray-500">Made from natural materials. Grain and color vary with each item.</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>



  <div style=" background-color: rgba(39, 58, 98, 0.11);">
    <div class="bg-transparent py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Trusted by the world’s most innovative teams</h2>
        <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
          <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg" alt="Transistor" width="158" height="48">
          <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg" alt="Reform" width="158" height="48">
          <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg" alt="Tuple" width="158" height="48">
          <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal" width="158" height="48">
          <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" width="158" height="48">
        </div>
      </div>
    </div>
  </div>
</main>

<div *ngIf="this.productService.getIsQuickViewd" class="quickView-container" >
  <app-product-quickview ></app-product-quickview>
</div>
<app-footer></app-footer>
