


<div class="product">
  <div (click)="toWishList()" class="icon-container">
    <img src="assets/icons/heart.png" *ngIf="!inWishList" class="normal-icon" >
    <img src="assets/icons/heart.png" *ngIf="inWishList" class="red-icon" >
  </div>
  <div class="pic">
    <img src="assets/img/washingMachine.jpg">
  </div>
  <div class="detail">
    <p>
      <b>Product One</b><br>
      <small>New arrival</small>
    </p>
    <samp>$45.00</samp>
  </div>
  <div class="button">
    <p class="star">
      <strong>★</strong>
      <strong>★</strong>
      <strong>★</strong>
      <strong>☆</strong>
      <strong>☆</strong>
    </p>
    <a href="#">Add-cart</a>
  </div>
</div>
