<section>
  <h1>Our Categories</h1>
  <div class="category-bg ">
    <div class="category-l2">
      <div class="categories-container">
        <app-product-division></app-product-division>
        <app-product-division></app-product-division>
        <app-product-division></app-product-division>
        <app-product-division></app-product-division>
      </div>
    </div>
  </div>
  <div class="category-bg ">
    <div class="category-l2">
      <div class="category-l3">
        <div class="categories-container">
          <app-product-division></app-product-division>
          <app-product-division></app-product-division>
          <app-product-division></app-product-division>
          <app-product-division></app-product-division>

        </div>
      </div>
    </div>
  </div>
  <div class="category-bg ">
    <div class="category-l2">
      <div class="category-l3">
        <div class="categories-container">
          <app-product-division></app-product-division>
          <app-product-division></app-product-division>
          <app-product-division></app-product-division>
          <app-product-division></app-product-division>

        </div>
      </div>
    </div>
  </div>
  <div class="category-bg ">
    <div class="category-l2">
      <div class="category-l3">
        <div class="categories-container">
          <app-product-division></app-product-division>
          <app-product-division></app-product-division>
          <app-product-division></app-product-division>
          <app-product-division></app-product-division>
        </div>
      </div>
    </div>
  </div>
</section>
