
<div class="bgImageContainer">
  <img src='https://ifdalivestorage.blob.core.windows.net/user-uploads/784446/347690/00000000-0000-0000-0000-000000000000/01_main_entry_img.jpg' class="bgImage" style="height: 43vi">
    <div class="title-slogan-div">
      <h1 class="title-name">Mobilotech</h1>
      <h3 style="color: beige; font-size:1.5vw ">Welcome to your new Electronics and Furniture Supplier</h3>
      <div class="shop-now-button-div" >
        <Button class="shop-now-button">
          <h4 style="box-shadow: none">SHOP NOW</h4>
        </Button>
      </div>

    </div>
    <!--<div class="circular-frame">
      <img class="inCircleFrameImg" src="assets/img/Spark.png">
    </div>-->
</div>
<app-slide></app-slide>

